<style>
    .footer
    {
        text-align: center;
        position: absolute;
        bottom: 0px;
        width: 100%
    }
</style>

<div class="footer">
    <h5>Copyright &copy;Ray Omoregie</h5>
</div>